.TimelineEvent {
}

.TimelineEvent__card {
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  position: relative;
  box-sizing: border-box;
}

.TimelineEvent:not(:last-child) > .TimelineEvent__card {
  border-left: 3px dashed var(--timeline-color);
}

.TimelineEvent:last-child > .TimelineEvent__card {
  border-left: 3px solid transparent;
}

.TimelineEvent__card:before {
  position: absolute;
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--timeline-color);
  left: -0.55rem;
  top: -2px;
}

.TimelineEvent__eventCard {
  position: relative;
  top: -1rem;
}
