.CharacterPage__header {
  display: flex;
  margin-bottom: 1rem;
}
.CharacterPage__imageFrame {
  margin-right: 2rem;
}

.CharacterPage__image {
  max-width: 128px;
  max-height: 128px;
}

.CharacterPage__meta {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CharacterPage__name {
  font-weight: normal;
  margin-bottom: 0;
}

.CharacterPage__streamer {
  margin-top: 0;
  color: #454545;
}

.CharacterPage__title {
  font-weight: normal;
}

.CharacterPage__vodGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 2rem;
}

.CharacterPage__vod {
  box-sizing: border-box;
}

.CharacterPage__vod > iframe {
  min-height: 300px;
}

@media (max-width: 600px) {
  .CharacterPage__vodGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .CharacterPage__vod > iframe {
    min-height: 200px;
  }
}

.CharacterPage__content img {
  max-width: 400px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
