.App {
  max-width: 900px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.App__header {
  text-align: center;
  margin-bottom: 4rem;
}

.App__headerTitle {
  font-weight: normal;
}

.App__headerTitle a {
  text-decoration: none;
  color: #333333;
}
