.App {
}

.App__header {
  text-align: center;
  margin-bottom: 1rem;
  background: linear-gradient(white, white 90%, transparent);
}

.App__headerTitle {
  font-weight: normal;
}

.App__headerTitle a {
  text-decoration: none;
  color: var(--link-color);
  font-family: "Permanent Marker", cursive;
}

.App__main,
.App__headerInner {
  max-width: 900px;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.App__headerInner {
  padding-top: 1rem;
}
